<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some WebSite</title>
 </head>
<body>
  {{> header }}
  <hr>
  <h1>{{ screamIt "Some text here" }} </h1>
  <hr>
  {{> footer }}
</body>
</html>


</html>
